
@{
    ViewData["Title"] = "Index";
}
<main>
    <section id="terms">
        <div class="top-img">
            <img src="~/../img/service-background.webp" alt="">

            <div class="title">
                <h1>Xidmətlər</h1>
                <span><a href="">Əsas</a></span>/<span>Xidmətlər</span>
            </div>
        </div>
    </section>

    <section id="terms-content">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-8">
                    <h5>Türkiyədən Çatdırılma</h5>
                    <p>
                        “Starex” Türkiyədən online sifariş olunan malların, poçt bağlamaların sürətli çatdırılmasını
                        həyata keçirir. Türkiyədən qəbul olunmuş mallar 1-5 gün ərzində Azərbaycana çatdırılır.
                    </p>
                    <h5>Türkiyədən Sifariş və ödənişsiz zəmanət</h5>
                    <p>
                        Türkiyədən online alış-veriş səhifələrində hər hansı bir malın alınmasında çətinlik
                        çəkdiyiniz təqdirdə bununla bağlı bizə müraciət edə bilərsiniz. Biz bu xidmətlə həmin malın
                        həm alınmasını, həm də çatdırılmasını təşkil edirik. “Həvalə et” xidməti ilə edilən bütün
                        sifarişlərə zəmanət veririk. Sifarişlərinizdə hər hansı bir yanlışlıq varsa, qırıq,
                        istifadəyə yararsızdırsa, əskik göndərilibsə, xarici anbarımıza təhvil verilib, ancaq
                        sistemə salınmayıbsa, yaxud bağlamanız tapılmırsa, ödədiyiniz məbləği və çatdırılma
                        ödənişini sizə geri qaytarırıq.
                    </p>
                    <h5>Amerikadan Çatdırılma</h5>
                    <p>
                        “Starex” Amerikadan online sifariş olunan malların, poçt bağlamaların sürətli çatdırılmasını
                        həyata keçirir. Amerikadan qəbul olunmuş mallar 7-10 gün ərzində Azərbaycana çatdırılır.
                    </p>
                    <h5>
                        Çindən Çatdırılma
                    </h5>
                    <p>"Starex" Çindən online sifariş olunan malların, poçt bağlamaların sürətli çatdırılmasını həyata keçirir. Çindən qəbul olunmuş mallar 7-10 gün ərzində Azərbaycana çatdırılır.</p>
                    <h5>
                        Şəxsi Kabinet
                    </h5>

                    <ul>
                        <li>Bağlamanın harda olduğunu izləmək;</li>
                        <li>Bağlamanı bəyan etmək;</li>
                        <li>Müvafiq ofisi seçmək və ya kuryer xidməti sifariş etmək;</li>
                    </ul>

                </div>
                <div class="col-3 links">
                    <h6>ŞİRKƏT HAQQINDA</h6>
                    <ul>
                        <li class="border-bottom"><a href="">Haqqımızda</a></li>
                        <li class="border-bottom"><a href="">Tariflər</a></li>
                        <li class="border-bottom"><a href="">Xidmətlər</a></li>
                        <li class="border-bottom"><a href="">Xəbərlər</a></li>
                        <li class="border-bottom"><a href="">Mağazalar</a></li>
                        <li class="border-bottom"><a href="">Tez-tez verilən suallar</a></li>
                        <li class="border-bottom"><a href="">Əlaqə</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    </section>

</main>

