
@{
    ViewData["Title"] = "Login";
}

<main>
    <section id="login">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-8 d-flex justify-content-center">
                    <h2>ŞƏXSİ KABİNETƏ GİRİŞ</h2>
                </div>

            </div>
            <form action="">
                <div class="row d-flex justify-content-center ">
                    <div class="col-6">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <label for="">E-POÇT ÜNVANI</label>
                                <input class="register-input" type="text">
                            </div>
                            <div class="col-12">
                                <label for="">ŞİFRƏ</label>
                                <input class="register-input" type="text">
                            </div>
                            <div class="col-12 links-login">
                                <a href="">QEYDİYYAT</a>
                                <a href="">ŞİFRƏNİ UNUTMUSUNUZ?</a>
                            </div>
                            <div class="col-5 login-btn d-flex justify-content-center">
                                <a href="">Daxil ol</a>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </section>
</main>

