
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="terms">
        <div class="top-img">
            <img src="~/../img/service-background.webp" alt="">

            <div class="title">
                <h1>Daşıma şərtləri</h1>
                <span><a href="">Əsas</a></span>/<span>Daşıma</span>
            </div>
        </div>
    </section>

    <section id="terms-content">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-8">
                    <p>• “Həvalə et” xidməti ilə edilən bütün sifarişlərə zəmanət veririk. Sifarişlərinizdə hər hansı bir yanlışlıq varsa, qırıq, istifadəyə yararsızdırsa, əskik göndərilibsə, xarici anbarımıza təhvil verilib, ancaq sistemə salınmayıbsa, yaxud bağlamanız tapılmırsa, ödədiyiniz məbləği və çatdırılma ödənişini sizə geri qaytarırıq. Bağlamalarınızı filiallarda və ya kuryer vasitəsi ilə təhvil alarkən yerindəcə yoxlayıb əməkdaşlarımıza məlumat verilməlidir. Qeyd edək ki, "Zəmanət xidməti" poçt vasitəsi ilə göndəriş edilən bağlamalara şamil edilmir. </p>
                    <p>
                        • Xarici ünvanlarımızı qeyd edərək sifariş etdiyiniz zaman “STAREX MMC" göstərdiyi vasitəçilik xidməti çərçivəsində heç bir halda satıcı firmanın göndərdiyi məhsulun keyfiyyətinə, tamlığına, tərkibinə, ölçü və formasına, satış anbarında tükənməsinə, vaxtında çatdırılmamasına  görə məsuliyyət daşımır. Mağaza tərəfindən yanlış və ya yararsız göndərilən sifarişlərin geri qaytarılmasında müştərilərimizə köməklik göstərə bilməyimiz üçün "Geri qaytarma" xidmətimiz mövcuddur. Lakin, mövcud vəziyyətlə əlaqədar olaraq reyslər məhdud olduğundan Azərbaycandan Türkiyəyə kargo daşınması müvəqqəti olaraq mümkün deyildir. Bu xidmət kargo təyyarələri ilə deyil, sərnişin təyyarələri ilə həyata keçirilirdi. Bu səbəbdən də reyslər əvvəlki kimi intensiv olana kimi xidmətimiz aktiv edilməyəcəkdir.
                    </p>
                    <p>• Xarici anbara daxil olmuş bağlama xarici anbardan birbaşa mağazaya iade edilmir.</p>
                    <p>
                        • Müştəri Türkiyədən həm "Həvalə et" xidmətimizlə, həm də "Xarici ünvanlarımız" bölməsindən istifadə etməklə öz kartı ilə birbaşa mağazadan sifariş edə bilər.
                        Birbaşa mağazadan sifariş zamanı sifariş Türkiyə daxili kargoya verildiyi gündən xarici anbara çatdırıldığı günədək mütləq şəkildə müştəri tərəfindən həmin bağlamaya əsasən saytımızda bəyannamə yaradılmalıdır.
                    </p>
                </div>
                <div class="col-3 links">
                    <h6>ŞİRKƏT HAQQINDA</h6>
                    <ul>
                        <li class="border-bottom"><a href="">Haqqımızda</a></li>
                        <li class="border-bottom"><a href="">Tariflər</a></li>
                        <li class="border-bottom"><a href="">Xidmətlər</a></li>
                        <li class="border-bottom"><a href="">Xəbərlər</a></li>
                        <li class="border-bottom"><a href="">Mağazalar</a></li>
                        <li class="border-bottom"><a href="">Tez-tez verilən suallar</a></li>
                        <li class="border-bottom"><a href="">Əlaqə</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    </section>

</main>
