
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="terms">
        <div class="top-img">
            <img src="~/../img/service-background.webp" alt="">

            <div class="title">
                <h1>
                    Xəbərlər
                </h1>
                <span><a href="">Əsas</a></span>/<span>
                    Xəbərlər
                </span>
            </div>
        </div>
    </section>
    <section id="services-list">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-4 info-card">
                    <a href="">
                        <div class="img-info">
                            <img src="~/../img/new-info/lotoreya600x300.jpg" alt="">
                        </div>
                        <div class="title-info">
                            Starex-dən avtomobil hədiyyə!

                        </div>
                        <span>15.07.2021</span>
                    </a>

                </div>
                <div class="col-4 info-card">
                    <a href="">
                        <div class="img-info">
                            <img src="~/../img/new-info/emanetzemaner-600-X-300.jpg" alt="">
                        </div>
                        <div class="title-info">
                            94% bağlamanı tam vaxtında çatdırdıq!

                        </div>
                        <span>06.08.2021</span>
                    </a>
                </div>
                <div class="col-4 info-card">
                    <a href="">
                        <div class="img-info">
                            <img src="~/../img/new-info/amerikatarifleri-yenilendi-600-X-300.jpg" alt="">
                        </div>
                        <div class="title-info">
                            Əmanətinizə zəmanət veririk!

                        </div>
                        <span>31.05.2021</span>
                    </a>
                </div>
                <div class="col-4 info-card">
                    <a href="">
                        <div class="img-info">
                            <img src="~/../img/new-info/600x300.jpg" alt="">
                        </div>
                        <div class="title-info">
                            Əmanətinizə zəmanət veririk!

                        </div>
                        <span>31.05.2021</span>
                    </a>
                </div>
                <div class="col-4 info-card">
                    <a href="">
                        <div class="img-info">
                            <img src="~/../img/new-info/amerikatarifleri-yenilendi-600-X-300.jpg" alt="">
                        </div>
                        <div class="title-info">
                            Əmanətinizə zəmanət veririk!

                        </div>
                        <span>31.05.2021</span>
                    </a>
                </div>
                <div class="col-4 info-card">
                    <a href="">
                        <div class="img-info">
                            <img src="~/../img/new-info/emanetzemaner-600-X-300.jpg" alt="">
                        </div>
                        <div class="title-info">
                            Əmanətinizə zəmanət veririk!

                        </div>
                        <span>31.05.2021</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

