
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="tariffs-section">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-4 tabs">
                    <div class="row d-flex justify-content-between">
                        <div class="col-5 tab-button text-center">
                            <a href="">Ölkə xaricindən Daşınma tarifləri</a>
                        </div>
                        <div class="col-5 tab-button text-center"><a href="">Ölkədaxili Kuryer tarifləri</a></div>
                    </div>

                </div>

            </div>
            <div class="delivery-tariffs">
                <div class="row d-flex justify-content-center">
                    <div class="col-7">
                        <ul class="d-flex justify-content-between">
                            <li><a href=""><img src="~/../img/country/1593519148_662743_US.png" alt=""> ABŞ</a></li>
                            <li>
                                <a href=""><img src="~/../img/country/1593759954_4653678_chin.png" alt=""> ÇİN</a>
                            </li>
                            <li>
                                <a href=""><img src="~/../img/country/1593519135_7889724_TR.png" alt=""> TÜRKİYƏ</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/../img/country/1611153084_8652565_germany.jpg" alt="">
                                    ALMANİYA
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/../img/country/1622060910_4798613_hong_kong.png" alt=""> HONQ
                                    KONQ
                                </a>
                            </li>
                        </ul>
                        <div class="row price-table d-flex justify-content-center">

                            <div class="row border-bottom prices d-flex">
                                <div class="col-9"><span>0.01 kq-dan 0.25 kq-a qədər</span></div>
                                <div class="col-2"><span>3.80 €</span></div>
                            </div>
                            <div class="row border-bottom  prices d-flex">
                                <div class="col-9"><span>0.01 kq-dan 0.25 kq-a qədər</span></div>
                                <div class="col-2"><span>3.80 €</span></div>
                            </div>
                            <div class="row border-bottom prices d-flex">
                                <div class="col-9"><span>0.01 kq-dan 0.25 kq-a qədər</span></div>
                                <div class="col-2"><span>3.80 €</span></div>
                            </div>
                            <div class="row border-bottom prices d-flex">
                                <div class="col-9"><span>0.01 kq-dan 0.25 kq-a qədər</span></div>
                                <div class="col-2"><span>3.80 €</span></div>
                            </div>
                            <div class="row prices border-bottom d-flex">
                                <div class="col-9"><span>0.01 kq-dan 0.25 kq-a qədər</span></div>
                                <div class="col-2"><span>3.80 €</span></div>
                            </div>
                            <div class="row prices border-bottom d-flex">
                                <div class="col-9"><span>0.01 kq-dan 0.25 kq-a qədər</span></div>
                                <div class="col-2"><span>3.80 €</span></div>
                            </div>
                            <div class="row prices note d-flex">
                                Qeyd: Uzunluğu 1 metrdən yuxarı olan məhsulların çatdırılma ödənişi həcm çəkisinə
                                uyğun hesablanır. Hesablanma qaydası: en x uzunluq x hündürlük / 6000. 1 tərəfinin
                                uzunluğu 120 sm-dən uzun olan bağlamalara əlavə 50$ daşınma haqqı hesablanacaq.
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="courier-tariffs">
                <div class="row d-flex justify-content-center">
                    <div class="col-7">
                        <div class="row d-flex select-op">
                            <div class="col-6">
                                <select name="" id="">
                                    <option value="">BAKI</option>
                                    <option value="">GƏNCƏ</option>
                                    <option value="">SUMQAYIT</option>
                                    <option value="">MİNGƏÇEVİR</option>



                                </select>
                            </div>
                            <div class="col-6 address">
                                <select name="" id="">
                                    <option value="">Bakı 28 may</option>
                                    <option value="">Bakı Gənclik</option>
                                    <option value="">SUMQAYIT</option>
                                    <option value="">MİNGƏÇEVİR</option>



                                </select>
                            </div>
                        </div>
                        <div class="price-table mt-5">
                            <div class="row prices border-bottom d-flex justify-content-center">
                                <div class="col-8">Səbail rayonu</div>
                                <div class="col-3">1.50 ₼</div>
                            </div>
                            <div class="row prices border-bottom d-flex justify-content-center">
                                <div class="col-8">Səbail rayonu</div>
                                <div class="col-3">1.50 ₼</div>
                            </div>
                            <div class="row prices border-bottom d-flex justify-content-center">
                                <div class="col-8">Səbail rayonu</div>
                                <div class="col-3">1.50 ₼</div>
                            </div>
                            <div class="row prices border-bottom d-flex justify-content-center">
                                <div class="col-8">Səbail rayonu</div>
                                <div class="col-3">1.50 ₼</div>
                            </div>
                            <div class="row prices border-bottom d-flex justify-content-center">
                                <div class="col-8">Səbail rayonu</div>
                                <div class="col-3">1.50 ₼</div>
                            </div>
                            <div class="row prices border-bottom d-flex justify-content-center">
                                <div class="col-8">Səbail rayonu</div>
                                <div class="col-3">1.50 ₼</div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </section>
</main>

