
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="terms">
        <div class="top-img">
            <img src="~/../img/service-background.webp" alt="">

            <div class="title">
                <h1>Mağazalar</h1>
                <span><a href="">Əsas</a></span>/<span>Mağazalar</span>
            </div>
        </div>
    </section>
    <section id="shops-icons">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="d-flex border-bottom tabs-list">
                        <li id="chine" class="border tab-shop "><a href=""> <img src="~/../img/country/CN.png" alt=""><p>China</p> </a></li>
                        <li id="germany" class="tab-shop"><a href=""><img src="~/../img/country/DE.png" alt=""><p>Germany</p> </a></li>
                        <li id="turkey" class="tab-shop"><a href=""><img src="~/../img/country/TR.png" alt=""> <p>Turkey</p></a></li>
                        <li id="usa" class="tab-shop"><a href=""><img src="~/../img/country/US.png" alt=""><p>United State</p> </a></li>
                    </ul>

                </div>
            </div>
            <div class="tab-contents">
                <div class="row d-flex tabs-content" id="chine-content">
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543501528_2096822_polo_logo.png" alt=""><p>Us Polo</p></a></div>
                    <div class="col-2 shop-logo"> <a href=""><img src="~/../img/shops/1543785747_4826753_gitdigidiyor.png" alt=""><p>Gitti Gidiyor</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543785941_4208448_damat_tween.png" alt=""><p>Damat Twen</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786342_298072_pierre-cardin-logo.jpg" alt=""><p>Piere Cardin</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786377_7514324_twist.png" alt=""><p>Twist</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786407_8972044_IPEKYOL.JPG" alt=""><p>IPEKYOL</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786446_9226615_mango_logo.png" alt=""><p>Mango</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786659_6722534_Lidyana.jpg" alt=""><p>Lidyana</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543787278_4292421_PULL.png" alt=""><p>Pull</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543787224_4951673_str1.png" alt=""><p>IPEKYOL</p></a></div>

                </div>
                <div class="row d-flex tabs-content d-none" id="germany-content">
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786342_298072_pierre-cardin-logo.jpg" alt=""><p>Piere Cardin</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786377_7514324_twist.png" alt=""><p>Twist</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786446_9226615_mango_logo.png" alt=""><p>Mango</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786659_6722534_Lidyana.jpg" alt=""><p>Lidyana</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543787278_4292421_PULL.png" alt=""><p>Pull</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543787224_4951673_str1.png" alt=""><p>IPEKYOL</p></a></div>
                    <div class="col-2 shop-logo"> <a href=""><img src="~/../img/shops/1543785747_4826753_gitdigidiyor.png" alt=""><p>Gitti Gidiyor</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786407_8972044_IPEKYOL.JPG" alt=""><p>IPEKYOL</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543785941_4208448_damat_tween.png" alt=""><p>Damat Twen</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543501528_2096822_polo_logo.png" alt=""><p>Us Polo</p></a></div>

                </div>
                <div class="row d-flex tabs-content d-none" id="turkey-content">
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543501528_2096822_polo_logo.png" alt=""><p>Us Polo</p></a></div>
                    <div class="col-2 shop-logo"> <a href=""><img src="~/../img/shops/1543785747_4826753_gitdigidiyor.png" alt=""><p>Gitti Gidiyor</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543785941_4208448_damat_tween.png" alt=""><p>Damat Twen</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786342_298072_pierre-cardin-logo.jpg" alt=""><p>Piere Cardin</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786377_7514324_twist.png" alt=""><p>Twist</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786407_8972044_IPEKYOL.JPG" alt=""><p>IPEKYOL</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786446_9226615_mango_logo.png" alt=""><p>Mango</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786659_6722534_Lidyana.jpg" alt=""><p>Lidyana</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543787278_4292421_PULL.png" alt=""><p>Pull</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543787224_4951673_str1.png" alt=""><p>IPEKYOL</p></a></div>

                </div>
                <div class="row d-flex tab-content d-none" id="usa-content">
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786342_298072_pierre-cardin-logo.jpg" alt=""><p>Piere Cardin</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786377_7514324_twist.png" alt=""><p>Twist</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786446_9226615_mango_logo.png" alt=""><p>Mango</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786659_6722534_Lidyana.jpg" alt=""><p>Lidyana</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543787278_4292421_PULL.png" alt=""><p>Pull</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543787224_4951673_str1.png" alt=""><p>IPEKYOL</p></a></div>
                    <div class="col-2 shop-logo"> <a href=""><img src="~/../img/shops/1543785747_4826753_gitdigidiyor.png" alt=""><p>Gitti Gidiyor</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543786407_8972044_IPEKYOL.JPG" alt=""><p>IPEKYOL</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543785941_4208448_damat_tween.png" alt=""><p>Damat Twen</p></a></div>
                    <div class="col-2 shop-logo"><a href=""><img src="~/../img/shops/1543501528_2096822_polo_logo.png" alt=""><p>Us Polo</p></a></div>

                </div>
            </div>


        </div>
    </section>
</main>

