
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="top-image">
        <div class="background-image">
            <img src="~/img/background/background-starex.webp" alt="">
            <div class="container content">
                <div class="row">
                    <div class="title">
                        <h2><span>Türkİyədən</span> və <span>Amerİkadan</span> alış-verİş etmək</h2>
                        <h1>İndİ daha <span>asan oldu</span></h1>
                    </div>
                </div>
                <div class="row top-search d-flex justify-content-center">
                    <div class="col-4 list-country">
                        <select name="" id="">
                            <option value="">Türkiyə</option>
                            <option value="">Amerika</option>
                            <option value="">Çin</option>
                            <option value="">Almaniya</option>
                            <option value="">Honq-Konq</option>




                        </select>
                    </div>
                    <div class="col-4 number-input">
                        <div class="row">
                            <div class="col-8">
                                <input type="number" placeholder="Çəkini qeyd edin">
                            </div>
                            <div class="col-2 list-weight">
                                <select name="" id="">
                                    <option value="">KQ</option>
                                    <option value="">QR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 delivery">
                        <span>
                            ÇATDIRILMA QİYMƏTİ
                        </span>
                        <span class="result">$0.0</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="feature">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6 title">
                    <h1>Starex necə İşləyİr</h1>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-2 underline">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sub-title d-flex justify-content-center">
                    Türkiyə, Amerika, Çin və Almaniyadan sifariş
                    edin, alış-veriş xərcləriniz 2 dəfə
                    az olsun.
                </div>
            </div>
            <div class="row mt-5 text-center d-flex justify-content-between">
                <div class="col-4 border-end">
                    <div class="row icon"><i class="fas fa-cube"></i></div>
                    <div class="row">
                        <div class="feature-title">
                            Qeydiyyatdan keçin
                        </div>
                        <span>
                            Türkiyə və Amerikadan məhsul sifariş vermək üçün ilk öncə saytımızda qeydiyyatdan
                            keçin.
                        </span>
                    </div>
                </div>
                <div class="col-4 border-end">
                    <div class="row icon"><i class="fas fa-clipboard-list"></i></div>
                    <div class="row">
                        <div class="feature-title">
                            "Həvalə et" xidmətindən istifadə edin
                        </div>
                        <span>
                            Türkiyənin alış-veriş saytlarından bəyəndiyiniz məhsulun linkini "Həvalə et" xidməti
                            ilə bizə göndərin
                        </span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row icon"><i class="fas fa-map-marked-alt"></i></div>
                    <div class="row">
                        <div class="feature-title">
                            Evinizə qədər çatdıraq
                        </div>
                        <span>Sifariş etdiyiniz məhsulu ofisimizdən təhvil alın və ya evinizə qədər çatdıraq.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="advantage">
        <div class="background-img">
            <img src="~/img/background/background2.jpg" alt="">
        </div>
        <div class="container advantage-content">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6 main-content">
                    <div class="advantage-title">Əsas üstünlüklərimiz</div>
                    <div class="row underline">

                    </div>
                    <div class="row">
                        <div class="col-2 icon"><i class="fas fa-shipping-fast"></i></div>
                        <div class="col-8">
                            <h5>Sürətli və təhlükəsiz çatdırılma</h5>
                            <p>
                                Bağlamanız bizim xaricdəki əməkdaşlarımız tərəfindən təhvil alındıqdan sonra göndəriş
                                gününə qədər çeşidlənir, anbarlaşdırılır və qısa müddət ərzində Bakı ofisimizə
                                çatdırılır. Bu müddət ərzində bütün proseslər barədə email, tətbiq və sms vasitəsilə
                                sizə məlumat göndərilir.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 icon"><i class="far fa-credit-card"></i></div>
                        <div class="col-8">
                            <h5>Pula Qənaət</h5>
                            <p>
                                Bəyəndiyiniz məhsulları Türkiyə, Amerika, Çin və Almaniyadan sərfəli qiymətlərlə
                                ölkəmizə gətiririk.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-2 icon"><i class="fas fa-cube"></i></div>
                            <div class="col-8">
                                <h5>Sübut olunmuş təcrübə</h5>
                                <p>
                                    Beynəlxalq daşımalar sahəsində 2010-cu ildən etibarən fəaliyyət göstəririk. Bu
                                    istiqamətdə əldə etdiyimiz təcrübəni 2018-ci ildən etibarən kuryer xidmətinin də
                                    təşkilində həyata keçirməyə başlamışıq. İndiyədək Türkiyədən və Amerikadan yüz
                                    minlərlə bağlamanı müştərilərimizə çatdırmışıq.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-2 icon"><i class="fas fa-truck"></i></div>
                                <div class="col-8">
                                    <h5>İnnovativlik</h5>
                                    <p>
                                        İstər yeni texnologiyaların tətbiqi, istərsə də işçi heyətinə mütəmadi
                                        treninqlərin verilməsi istiqamətində şirkətimiz davamlı yatırım edir.
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="new-info">
        <div class="container">
            <div class="row d-flex justify-content-center">

                <div class="col-6">
                    <div class="info-title">
                        <h2>Ən Son Yeniliklərimiz</h2>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="underline"></div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-4 info-card">
                    <a href="">
                        <div class="img-info">
                            <img src="~/img/new-info/lotoreya600x600.jpg" alt="">
                        </div>
                        <div class="title-info">
                            Starex-dən avtomobil hədiyyə!

                        </div>
                        <span>15.07.2021</span>
                    </a>

                </div>
                <div class="col-4 info-card">
                    <a href="">
                        <div class="img-info">
                            <img src="~/img/new-info/94-faiz-600x600.jpg" alt="">
                        </div>
                        <div class="title-info">
                            94% bağlamanı tam vaxtında çatdırdıq!

                        </div>
                        <span>06.08.2021</span>
                    </a>
                </div>
                <div class="col-4 info-card">
                    <a href="">
                        <div class="img-info">
                            <img src="~/img/new-info/emanetzemanet-600x600.jpg" alt="">
                        </div>
                        <div class="title-info">
                            Əmanətinizə zəmanət veririk!

                        </div>
                        <span>31.05.2021</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>

